body{
	font-family: 'Arial', Courier, monospace;
	font-style: 18px;
}

.page{
	padding-left: 50px;
	padding-top: 50px;
}

h2{
	font-size: 24px;
	color: red;
}

h4{
	font-size: 20px;
	font-weight: 700;
}

.paragraph{
	padding-top: 10px;
	padding-bottom: 10px;
}